@font-face {
  font-family: 'MicrosoftSansSerif';
  src: url('../inc/micross.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}




.navbox ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.navbox li {
  float: left;
}

.navbox li span{
  padding-left: 5px;
}

.cart ion-icon{
  vertical-align: bottom;
  font-size: 20px;
  padding-right: 5px;
}

.cart a{
  background-color: royalblue;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
}

.navbox li:last-child {
  border-right: none;
}

.navbox li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbox li a:hover:not(.active) {
  background-color: #111;
  font-weight: bold;
}

.navbox .active {
  background-color: #4CAF50;

}


/*Search Bar*/
* {
  box-sizing: border-box;
}

form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 2px solid black;
  float: left;
  width: 50%;
  background: #f1f1f1;
}

form.example button {
  float: left;
  width: 15%;
  margin: 0px 3px;
  padding: 10px;
  background: #0000e6;
  color: white;
  font-size: 17px;
  border: 2px solid #0000e6;
  border-left: none;
  cursor: pointer;
}

form.exampxsle button:hover {
  background: #0b7dda;
}

form.example::after {
  content: "";
  clear: both;
  display: table;
}



/*Bar 2*/
.abc {
  list-style-type: none;
  margin:8px;
  padding: 1px;
  overflow: hidden;
  background-color: #ffffff;
}

.abc li {
  float: left;
}

.abc li:last-child {
  border-right: none;
}

.abc li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.abc li a:hover:not(.active) {
  background-color: #ffffff;
  color: gray;
}

.abc .active {
  background-color: #ffffff;
    color:  gray;
}


/*nav2*/
.nav2 {
  list-style-type: none;
  margin:8px;
  padding: 1px;
  overflow: hidden;
  background-color: #ffffff;
}

.nav2 li {
  float: left;
}

.nav2 li:last-child {
  border-right: none;
}

.nav2 li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav2 li a:hover:not(.active) {
  background-color: #ffffff;
  color: black;

}

.nav2 .active {
  background-color: #ffffff;
    color:  black;

}



img {
  width: 100%;
}

.round1{
  border-radius: 50%;
  margin: 0px -8px;
}


.list{
  display: flex;
  margin: 10px 50px;
  padding: 0px;
}



/*Product List*/


.card {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: 0px 55px;
  text-align: center;
  font-size: 17px; 
}

.card h1{
  font-size: 21px; 
}


.price {
  color: red;
  font-size: 19px;
}

.card button {
  border: 0px;
  outline: 0;
  padding: 12px 5px;
  color: white;
  background-color: #0000b3;
  text-align: center;
  cursor: pointer;
  width: 50%;
  font-size: 16px;
}

.button2{
  background-color: red;
}

.description{
  color: #a3a375;
}

.card button:hover {
  opacity: 0.7;
}




body {
  margin: 0;
  padding: 0;
}
.main {
  max-height: 550px;;
  background-color: #292c2f;
  color: white;
  font-size: 38pt;
  text-align: center;
  line-height: 550px;
}
footer{
  bottom: 0;
}
.footer-distributed{
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
 
  padding: 55px 50px;
  margin-top: 80px;
}
 
.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
  display: inline-block;
  vertical-align: top;
}
 
.footer-distributed .footer-left{
  width: 40%;
}
 
.footer-distributed h3{
  color:  #ffffff;
  font: normal 36px 'Cookie', cursive;
  margin: 0;
}
 
.footer-distributed h3 span{
  color:  #5383d3;
}
 
 
.footer-distributed .footer-links{
  color:  #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}
 
.footer-distributed .footer-links a{
  display:inline-block;
  line-height: 1.8;
  text-decoration: none;
  color:  inherit;
}
 
.footer-distributed .footer-company-name{
  color:  #8f9296;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}
 
 
.footer-distributed .footer-center{
  width: 35%;
}
 
.footer-distributed .footer-center i{
  background-color:  #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}
 
.footer-distributed .footer-center i.fa-envelope{
  font-size: 17px;
  line-height: 38px;
}
 
.footer-distributed .footer-center p{
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin:0;
}
 
.footer-distributed .footer-center p span{
  display:block;
  font-weight: normal;
  font-size:14px;
  line-height:2;
}
 
.footer-distributed .footer-center p a{
  color:  #5383d3;
  text-decoration: none;;
}
 
.footer-distributed .footer-right{
  width: 20%;
}
 
.footer-distributed .footer-company-about{
  line-height: 20px;
  color:  #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}
 
.footer-distributed .footer-company-about span{
  display: block;
  color:  #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}
 
.footer-distributed .footer-icons{
  margin-top: 25px;
}
 
.footer-distributed .footer-icons a{
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color:  #33383b;
  border-radius: 2px;
 
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
 
  margin-right: 3px;
  margin-bottom: 5px;
}
 
 
@media (max-width: 880px) {
 
  .footer-distributed{
    font: bold 14px sans-serif;
  
  }
 
  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right{
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }
 
  .footer-distributed .footer-center i{
    margin-left: 0;
  }
  .main {
    line-height: normal;
    font-size: auto;
  }
 
}
